PORT=8000
DATABASE_URL="postgresql://postgres.yiyqjsqpzyyzkkzcejlk:@Ghanamustgo111@aws-1-eu-west-1.pooler.supabase.com:6543/postgres"
JWT_ACCESS_SECRET=F+xTOUyGOj0RPJorq23Dks3O6SKmXqPIj4Tl0CT/Cxc=
JWT_REFRESH_SECRET=
NODE_ENV=development

COOKIE_SECURE=false
COOKIE_SAME_SITE=lax

APP_URL=http://localhost:3000
FRONTEND_URL=http://localhost:3001

SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=
